/** --------------------------------------------------------------
 *  Custom navbar
 */

@nav-theme: lightblue;

.navbar2 {
    background-color: @nav-theme;
    border: 2px solid #666;
    display: inline-block;
}

.rm-navbar ul {
    list-style: none;
}
